@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url(./entries.css);
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: aqua;
}

main {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
}

.entryForm {
    display: flex;
    flex-direction: column;
}

.entryForm--Concepts-Text{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 20px;
    outline: 0px solid transparent;
    color: black;
    background-color: white;
    border: 1px white;
}

.entryForm--Journal-Text{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 200px;
    outline: 0px solid transparent;
    color: black;
    background-color: white;
    border: 1px white;
}

.entryForm--DateSelector {
    width: 115px;
    margin-left: auto;
    margin-right: auto;
}

.entryForm--Field {
    display: flex;
    flex-direction: column;
    width: 432px;
}

.entry-button {
    display: flex;
    justify-content: center;
    width: 464px;
}

.entryForm--Field--Button {
    border: 0;
}


.entryForm--Mood-Select {
    display: flex;
    width: 100px;
    align-self: center;
}

.recordEntry--Button {
    margin: 10px;
}

.editEntry--Button {
    margin: 10px;
    align-self: center;
}

.list--item {
    color: white;
}

.section-title {
    text-align: center;
    margin: 10px
}

.entry-title {
    text-align: center;
}

.entryForm--Id {
    display: none;
}

